.ui-autocomplete {
        max-height: 200px;
        overflow-y: auto; /* prevent horizontal scrollbar */
        overflow-x: hidden;
    }
* html .ui-autocomplete {
        height: 200px;
    }

#chooseArticle{
    width: 200px
}

#inputArticle{
    width: 200px
}